

<!DOCTYPE html>
<html>
<head>
	<title> ... </title>
	<link rel="stylesheet" type="text/css" href="static/home_page_style.css">
</head>
<body>
	<nav id = "nav-bar-top">
		<div id="nav-postion-right">
				<div id = "logo-link"></li>	
		</div>
	</nav>
	<div class ="wrapper">
		<div id="main-container">
			<!div id="box-box">
				<img class="svg-resize-color" src="static/box.svg" />
			<!/div>
			<div class="text-container">
				<p class="text-style-nice">Hey, I'm Joel Benjamin. I make Backend stuff, I build bots, Machine Learning Guy and a bit of Front end.</p>
				<div id="icon-pos">
					<img  src="static/robot.svg" width="50" height="50" />
					<img  src="static/code.svg" width="50" height="50"/>
				</div>

			</div>
		</div>
	</div>

	<div id="project_section">
		<p id = "text-head">My Projects</p>
		<div id="project_cont">
			{% for project in projects %}
				<div class="showcase-box">
					<div id="display_image">
						<img src={{project[3] }} id="resize-image" width="400" height="300">
					</div>
					<a href = {{ project[1] }}><p id="project_name">{{ project[0] }}</p></a>
					<p id="project_desp">{{ project[2] }}</p>
				</div>
			{% endfor %}
		</div>
	</div> 

	<div id="footer">
		
	</div>


</body>
</html>